
@model ReferenceWorld.Model.Member
@using ReferenceWorld.Common;
@{
    Layout = null;
    ViewBag.Title = "Photos";
    long userId = Model.Id;
    string avatarUrl = Url.Content("~/Upload/Avatar/") + Model.HeadImage;
    string userGuid = (string)ViewBag.UserGuid;
}
<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <title>Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/Content/upload/bootstrap_old.min.css" rel="stylesheet" />
    <link href="~/Content/app.v2.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/star.css" rel="stylesheet" />
    <link href="~/Content/upload/cropper.min.css" rel="stylesheet" />
    <link href="~/Content/upload/sitelogo.css" rel="stylesheet" />
    <link href="~/Content/upload/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Scripts/ie/html5shiv.js" cache="false"></script>
    <script src="~/Scripts/ie/respond.min.js" cache="false"></script>
    <script src="~/Scripts/ie/excanvas.js" cache="false"></script>
    <![endif]-->
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/public.js"></script>
    <style>
        .text-font {
            margin-top: 15px;
            line-height: 30px;
            font-size: 20px;
            font-weight: bold;
            font-family: -webkit-pictograph;
        }

        a.underline {
            text-decoration: underline;
        }

            a.underline:hover {
                color: #280eea;
            }

        .margin-top30 {
            margin-top: 30px;
        }

        #comments tr th {
            font-size: 15px;
        }

        .div_avatar {
            margin: 5px auto;
            overflow: hidden;
        }

            .div_avatar img {
                cursor: pointer;
                transition: all 0.6s;
            }

                .div_avatar img:hover {
                    transform: scale(1.4);
                    -webkit-transform: scale(1.4);
                }

        .thumbnail-new {
            display: inline-block;
            display: block;
            height: auto;
            max-width: 100%;
            padding: 4px 4px 0px 4px;
            /*margin-bottom:5px;*/
            line-height: 1.428571429;
            background-color: #ffffff;
            border-radius: 4px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

            .thumbnail-new > img {
                display: block;
                height: auto;
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
            }

        a.thumbnail-new:hover, a.thumbnail-new:focus, a.thumbnail-new.active {
            border-color: #428bca;
        }
    </style>
</head>
<body>
    @{Html.RenderAction("PartUploadPic", "Member"); }
    <section class="vbox">
        @{Html.RenderAction("PartHeader", "Member"); }
        <section class="overflowDiv">
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-light lter aside-md hidden-print" id="nav"></aside>
                <!-- /.aside -->
                <section id="content">
                    <section class="vbox bg-white">
                        <header class="header b-b b-light hidden-print">
                            @{
                                bool bo = (bool)ViewBag.IsMini;
                                if (bo)
                                {
                                    <button type="button" class="btn btn-sm btn-info pull-right p-title-font" data-toggle="modal" data-target="#avatar-modal" style="margin: 10px;">Upload pictures</button>
                                }
                            }
                            <p class="p-title-font"><a href="@Url.Content("~/Member/Index/" + userGuid)" class="underline">Member Profile</a></p>
                        </header>
                        <section class="scrollable wrapper">
                            <div class="row margin-top30 div_avatar">
                                @{
                                    var photos = ViewBag.Photos as List<ReferenceWorld.Model.Photos>;
                                    foreach (var item in photos)
                                    {
                                        <div class="col-lg-3 col-sm-4 col-xs-6">
                                            <a href="#" class="thumbnail-new">
                                                <img src="@item.Image" class="img-responsive" onerror="javascript: this.src = '@Url.Content("~/Images/no_picture.png")';" style="height:180px;">
                                            </a>
                                            <div class="caption text-center" style="margin-bottom: 20px;">
                                                @if (Model.Email == LoginHelper.UserNameEmail)
                                                {
                                                    <p><a href="#" class="btn btn-default delete-upload-pic" onclick="DeletePic('@item.Id')">Delete this picture</a></p>
                                                }
                                             
                                            </div>
                                        </div>
                                    }
                                }

                            </div>

                            <div class="well m-t" style="margin-top: 70px;text-align: center;">
                                <div class="row">
                                    <div class="col-sm-3" onclick="Home()" style="cursor:pointer;" title="Home">
                                        <i class="fa fa-3x fa-user"></i>
                                        <h5 class="text-uc m-b m-t-lg">Home</h5>
                                    </div>
                                    <div class="col-sm-3" onclick="Search()" style="cursor:pointer;" title="Search">
                                        <i class="fa fa-3x fa-search"></i>
                                        <h5 class="text-uc m-b m-t-lg">Search</h5>
                                    </div>
                                    <div class="col-sm-3" onclick="About()" style="cursor:pointer;" title="About Us">
                                        <i class="fa fa-globe fa-3x icon-muted"></i>
                                        <h5 class="text-uc m-b m-t-lg">About Us</h5>
                                    </div>
                                    <div class="col-sm-3" onclick="Contact()" style="cursor:pointer;" title="Contact Us">
                                        <i class="fa fa-envelope-o fa-3x icon-muted"></i>
                                        <h5 class="text-uc m-b m-t-lg">Contact Us</h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
                </section>
                <aside class="bg-light lter aside-md hidden-print" id="nav"></aside>

            </section>
        </section>
    </section>
    <input type="hidden" value="@ViewBag.UserGuid" id="hidUserGuid" />
</body>
</html>
<script>
    function Home() {
        window.location.href = "@Url.Content("~/Home/Index")";
    }
    function Search() {
        window.location.href = "@Url.Content("~/Search/Index")";
    }
    function About() {
        window.location.href = "@Url.Content("~/Home/About")";
    }
    function Contact() {
        window.location.href = "@Url.Content("~/Home/Contact")";
    }
</script>
<script>
    function DeletePic(id) {
        var layOpen = layer.open({
            content: 'Are you sure you deleted this picture ? '
            , icon: 1
            , title: false
            , closeBtn: 0
            , btn: ['ok', 'cancel']
            , yes: function (index, layero) {
                if (layOpen != null)
                    layer.close(layOpen);
                SubmitDeletePic(id);
            }
            , cancel: function (index, layero) {
            }
        });
    }

    function SubmitDeletePic(id) {
        $.ajax({
            url: "@Url.Content("~/Member/SubmitDeletePic")",
            data: { id: id, },
            dataType: 'json', type: "POST",
            success: function (result) {
                if (result.errorCode == 200) {
                    window.location.reload();
                } else {
                    alert("delete fail");
                }
            }
        });
    }
</script>